{% extends "base.html" %}

{% block title %}Homepage{% endblock %}
{% block navbar %}
<li class="nav-item active">
  <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="update">update</a>
  </li> 
<li class="nav-item">
    <a class="nav-link" href="logout">logout</a>
</li>  
{% endblock %}
{%block content%}

<h3>Hello {{un}}!</h3>
<p>Address: {{add}}</p>
<p>Phone no.: {{phone}}</p>
<a href="{{ url_for('send') }}" class="btn btn-secondary" role="button" aria-pressed="true">Send parcel</a>


{% endblock %}